.intro-logo{
  /* position: absolute; */
    /* width: 25%; */
    height: 75%;
    /* max-height: 80vh; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    transition: all 0.5s ease;
    animation: fadeout 10s linear;
    /* transform-origin: center center; */
    backdrop-filter: blur(5px); 
    border-radius: 50%; 
    padding: 10px;
    /* border: 6px white solid; */
}
@keyframes fadeout {
  0%   {
    scale: 0.7;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100%  {
    scale: 1;
    opacity: 1;
  }
}
.intro-logo-div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
a{
  text-decoration: none;
}