/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: palaceFont ;
  src: url('fonts/PalaceScriptMT.ttf');
  size-adjust: 200%;
}

.intro-logo{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* width: 100vw; */
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  /* position: absolute; */
    /* width: 25%; */
    /* height: 75%; */
    /* max-height: 80vh; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    transition: all 0.5s linear;
    animation: fadeout 10s linear;
    /* transform-origin: center center; */
    /* backdrop-filter: blur(5px);  */
    /* border-radius: 50%;  */
    /* padding: 10px; */
    /* border: 6px white solid; */
}
@keyframes fadeout {
  0%   {
    scale: 0.7;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100%  {
    scale: 1;
    opacity: 1;
  }
}
.intro-logo-div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
a{
  text-decoration: none;
}
.form-input{
    padding: 5px 5px 5px 5px;
    border: 1px #d7b14c solid;
    color: #99631d;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
}
.form-input::placeholder{
  font-family: 'Architects Daughter', cursive;
  font-style: italic;
  font-size: 16px;
  color: #ac9165 ;
}
.form-group{
  padding: 5px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;

}
.bp-form-label{
  margin-right: 10px;
  font-family: 'Tangerine', cursive;
  font-size: 36px;
  color: #d7b14c;
}
.btn-reservation {
  --bs-btn-color: #d7b14c;
  --bs-btn-border-color: #d7b14c;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #d7b14c;
  --bs-btn-hover-border-color: #d7b14c;
  --bs-btn-focus-shadow-rgb: 255,193,7;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #d7b14c;
  --bs-btn-active-border-color: #d7b14c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #d7b14c;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #d7b14c;
  --bs-gradient: none;
}
.btn-reservation:hover {
  color: #000;
  background-color: #d7b14c;
  border-color: #d7b14c;

}
.btn-gold {
  --bs-btn-color: #d7b14c;
  --bs-btn-border-color: #d7b14c;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #d7b14c;
  --bs-btn-hover-border-color: #d7b14c;
  --bs-btn-focus-shadow-rgb: 255,193,7;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #d7b14c;
  --bs-btn-active-border-color: #d7b14c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #d7b14c;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #d7b14c;
  --bs-gradient: none;
}
.btn-gold:hover {
  color: #000;
  background-color: #d7b14c;
  border-color: #d7b14c;

}
.bp-btn-close{
  height: 60px;
    font-size: 30px;
    font-family: 'Great vibes';
    /* background-color: #cf89ac; */
    color: #99631d;
    transition: all 1s ease;
    padding: 10px 20px 10px 15px;
    text-align: center;
}
.bp-btn-close:hover{
border: 1px #99631d solid;
}
.background-text-div{
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    font-family: 'Great Vibes', cursive;
    z-index: -1;
    font-size: 20rem;
    opacity: 0.05;
    color: #f1ece4;
    width: 100%;
    display: flex;
    justify-content: center;
}
.increment-input{
  background-color: #f5f5dc; 
  color: #99631d;
  border: 2px #99631d solid;
  /* border-radius: 0 5px 5px 0; */
  width: 25px;
}
.decrement-input{
  background-color: #f5f5dc; 
  color: #99631d;
  border: 2px #99631d solid;
  /* border-radius: 5px 0 0 5px; */
  width: 25px;
}
.bp-btn-submit{
  height: 60px;
  font-size: 30px;
  font-family: 'palaceFont', cursive;    
  background-color: #d7b14c; 
  color: white;
}
.left-input{
  text-align: start !important;
}