.main-video {
    /* height: 100vh; */
}
.main-video video {
    width: 100%;
}
.main-video .black-layer {
    width: 20%;
    min-width: 300px;
	height: 100%;
    display: flex;
    align-items: center;
}

.folders-list .list-group{
	width: 100% !important;
}

.folders-list .list-group-item{
	margin-top:10px;
	border-radius: none; 
	background-color: transparent;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
    z-index: 1;
}


.folders-list .list-group-item:hover{
	/* transform: scaleX(1.1); */
}

.folders-list .check{
	opacity: 0;
	transition: all 0.6s ease-in-out;
}

.folders-list .list-group-item:hover .check {
	opacity: 1;
}

.folders-list .about {
    padding-bottom: 0;
    width: 200px;
}

.iziModal {
	margin-bottom: 10px !important;
	margin-bottom: 20px !important;
}

.iziModal a:hover,
.iziModal a:active,
.iziModal a:focus {
	color: black;
}

#photosAmpouleModal,
#videoDemoModal {
	margin-top: 25px !important;
}

#photosAmpouleGallery img {
	width: 180px;
}

#photosAmpouleGallery a {
	margin: 10px;
	display: inline-flex;
    width: 160px;
    height: 160px;
}

.pswp__zoom-wrap .pswp__img {
    max-width: none;
    object-fit: contain;
	/* width: auto !important; */
	/* height: auto !important; */
}

.pswp__zoom-wrap {
	/* width: 100vh !important; */
	display: flex;
    justify-content: center;
}
.pswp__zoom-wrap img {
	position: absolute;
	/* left: 40%; */
}

.header__nav__option {
	height: 100%;
    display: flex;
    align-items: center;
}

.close-tab-arrow {
	cursor: pointer;
}